.header { 
    background-color: var(--gray-700);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1.2rem;

    padding: 7.2rem 0 8rem;
}

.image {
    height: 3.6rem;
}

.title {
    color: var(--blue-300);
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: 900;
}

.title > span {
    color: var(--purple-500)
}